
:root{
  --columns-row: 2;

}

*{
    margin:0;
    padding: 0;
    
  }
  
  body{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
      height: 100vh;
      background-color:#ccc5b9;
  }

  #container{
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    border:1px solid white;
    width: 700px;
    height: 700px;
    background-color: white;
    
  }
  #container > .div-squares{

    border:1px solid rgb(126, 126, 126);
  }

  header{
    color:black;
  }

  button{
    padding:3px;
    width:100px;
    text-transform: capitalize;
  }