
:root{
  --col: repeat(16,1fr);
   --row: 1;

}


*{
    margin:0;
    padding: 0;
    
  }
  
  body{
    display: grid;
    justify-content: center;
    align-items: center;
    border:1px solid black;
      height: 100vh;
  }

  
 

  
.div-squares{
    border: 1px solid gray;

  }

  
    
  #container{
    display: grid;
    grid-template-columns:var(--col);
    grid-template-rows:var(--row);
    grid-auto-flow: dense;
    border:1px solid black;
    width: 700px;
    height: 700px;
    
  }
  